{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"] // allows you to write React code in ".js" and ".jsx" files
      }
    ],
    "prettier/prettier": "error",
    "max-len": ["error", 120], // lines can be 120 characters long before they should break
    "react/jsx-props-no-spreading": "off"
  },
  "env": {
    "browser": true
  }
}